node_modules
*clasp.json
/src/IncidentManagement/.clasp/
/src/SystemSettings/
/src/IncidentManagement/node_modules/
/src/IncidentManagement/package-lock.json
/src/IncidentManagement/package.json
src/MemberAssignmentV2/
src/SharedFunctionsV2/
/.imtapp.json
/.imtapp.json.bak
/imtapp.code-workspace
/src/MemberAssignmentV2/dist/
/src/ImtAppV2/dist/
/src/SharedFunctionsV2/dist/
/src/SharedFunctionsV2/package-lock.json
*.js
/src/ImtAppV2/.babelrc
/src/ImtAppV2/package-lock.json
/src/ImtAppV2/package.json
